{{#if answerForm}}
  <form>
    {{question}}
    <div class="form-group">
      <label for="answerName">Enter name:</label>
      {{input value=answerName id="answerName"}}
    </div>
    <div class="form-group">
      <label for="answerLocation">Enter location:</label>
      {{input value=answerLocation id="answerLocation"}}
    </div>
    <div class="form-group">
      <label for="answerDescription">Enter description:</label>
      {{textarea value=answerDescription id="answerDescription"}}
    </div>
    <button {{action 'answer'}}>Answer</button>
  </form>
{{else}}
  <button {{action 'iKnow'}}>I know</button>
{{/if}}
